body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/99f5e1166627699.641b4d76ca239.png);
  background-size: 100% auto; /* Define a largura como 100% e mantém a altura automática */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.modal {
  visibility: hidden; /* Inicialmente oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 80%;
}
/* Responsividade para o modal */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%; /* Ajuste a largura para dispositivos menores */
  }
}
